<div class="container">
  <form [formGroup]="selectCustomerFormGroup"  >
    <div *ngIf="newCustomerFlag;else elseBlock" style="display: flex; flex-direction: column;width: 20em; margin-bottom: 2em">
      Yeni Müşteri
      <mat-form-field  required>
        <input matInput placeholder="Ad" [(ngModel)]="newCustomerFirstName" formControlName="newCustomerFirstNameFormCtrl" required />
      </mat-form-field>
      <mat-form-field  required>
        <input matInput placeholder="Soyad" [(ngModel)]="newCustomerLastName" formControlName="newCustomerLastNameFormCtrl" required />
      </mat-form-field>
<!--      <mat-form-field  required>-->
<!--        <input matInput placeholder="E-Posta" [(ngModel)]="newCustomerEmail" formControlName="newCustomerEmailFormCtrl" required />-->
<!--      </mat-form-field>-->
      <div>
        <button mat-raised-button (click)="newCustomer()">Yeni Müşteri Oluştur</button>
      </div>
    </div>

    <mat-divider></mat-divider>


    <ng-template #elseBlock>
      <div>
        Müşteri Seç
      </div>

      <mat-form-field required>
        <mat-select placeholder="Müşteri"  [(ngModel)]="selectedCustomer"  formControlName="userSelectFormCtrl">
          <mat-option *ngFor="let user of users" [value]="user" >
            {{user.firstName}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </ng-template>
  </form>

  <div style="margin-top: 1em;margin-bottom: 2em">
    <button mat-raised-button (click)="onClickNewCustomerFlagButton()" >
      {{newCustomerFlag ? 'Müşteri Listesinden Seç' : 'Yeni Müşteri'}}
    </button>
  </div>

</div>

<mat-divider></mat-divider>

<div class="container">

  <form [formGroup]="editCustomerFormGroup" >
    <div style="display: flex; flex-direction: column;width: 20em; margin-bottom: 2em" *ngIf="!newCustomerFlag;">
      <mat-form-field  required>
        <input matInput placeholder="Ad" [(ngModel)]="selectedCustomerFirstName" formControlName="editCustomerFirstNameFormCtrl" />
      </mat-form-field>
      <mat-form-field  required>
        <input matInput placeholder="Soyad" [(ngModel)]="selectedCustomerLastName" formControlName="editCustomerLastNameFormCtrl"/>
      </mat-form-field>
<!--      <mat-form-field  required>-->
<!--        <input matInput placeholder="E-Posta" [(ngModel)]="selectedCustomerEmail" formControlName="editCustomerEmailFormCtrl"/>-->
<!--      </mat-form-field>-->
      <div>
        <button mat-raised-button (click)="saveCustomerData()">Müşteri Bilgilerini Kaydet</button>
      </div>
    </div>
  </form>



</div>
