<h1 mat-dialog-title>{{data.titleText}}</h1>
<div mat-dialog-content>
  <div>
    <p>Statik IP Adresi Tanimlandi</p>
    {{data.staticIpAddress}}
  </div>
  <div>
    Detay sayfasina yonlendirileceksiniz
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()">Tamam</button>
</div>
