.stepperContainer{
  margin-top: 2em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  min-height: 15em;
  position: relative;
  display: block;
}


.button-container{
  position: absolute;
  bottom: 0;
  right: 0;
}

.newCustomerForm{
  position: center;
}

.orderDetails{

  .orderDetailsTitle{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4em;
  }
  .orderDetailsLabel{
    line-height: 1.4em;
  }
}
