<div class="stepperContainer">
  <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="stepperChange($event)">
    <mat-step [stepControl]="selectCustomerFormGroup" [editable]="false">

        <ng-template matStepLabel>Müşteri Seçimi</ng-template>

<!--        <mat-spinner *ngIf="customers.length===0"></mat-spinner>-->


      <form [formGroup]="selectCustomerFormGroup"  class="stepperFormContainer">
        <div *ngIf="newCustomerFlag;else elseBlock" style="display: flex; flex-direction: column;width: 20em; margin-bottom: 2em">
          Yeni müşteri
          <mat-form-field  required>

            <input matInput placeholder="Ad" [(ngModel)]="newCustomerFirstName" [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
          <mat-form-field  required>
            <input matInput placeholder="Soyad" [(ngModel)]="newCustomerLastName" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <div>
            <button mat-raised-button (click)="newCustomer()">Yeni Kullanıcı Oluştur</button>
          </div>
          </div>
        <mat-divider></mat-divider>


        <ng-template #elseBlock>
          <div>
            Müşteri Seç
          </div>

          <mat-form-field required>
            <mat-select placeholder="Müşteri"  [(ngModel)]="selectedCustomer"  [ngModelOptions]="{standalone: true}" required >
              <mat-option *ngFor="let customer of customers" [value]="customer" >
                {{customer.firstName}} {{customer.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </ng-template>
      </form>
        <div style="margin-top: 1em">
          <button mat-raised-button (click)="onClickNewCustomerFlagButton()" >
            {{newCustomerFlag ? 'Müşteri Listesinden Seç' : 'Yeni Müşteri'}}
          </button>
        </div>

        <div class="button-container">
          <button mat-raised-button matStepperNext>İleri</button>
        </div>



    </mat-step>
    <mat-step [stepControl]="selectProductFormGroup" [editable]="false">
      <form [formGroup]="selectProductFormGroup"  class="stepperFormContainer">
        <ng-template matStepLabel>Ürün/Hizmet Seçimi</ng-template>
        <mat-form-field required>
          <mat-select placeholder="Ürün/hizmet" formControlName="productFormCtrl" [(ngModel)]="selectedProduct" required >
            <mat-option *ngFor="let product of products" [value]="product" >
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button matStepperPrevious>Geri</button>
          <button mat-raised-button matStepperNext>Seç</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="makeOrderFormGroup" [editable]="false">
      <form [formGroup]="makeOrderFormGroup"  class="stepperFormContainer">
        <ng-template matStepLabel>Sipariş Onayı</ng-template>
        <div class="orderDetails">
          <span class="orderDetailsTitle">
            Sipariş Detayı
          </span>
          <div>
            <span class="orderDetailsLabel">Müşteri: </span>
<!--            {{selectedCustomer?.firstName}} {{selectedCustomer?.lastName}}-->
            {{getSelectedCustomerFullName()}}
          </div>
          <div>
            <span class="orderDetailsLabel">Ürün: </span>
            {{selectedProduct?.name}}
          </div>
        </div>

        <div class="button-container">
          <button mat-raised-button matStepperPrevious>Geri</button>
          <button mat-raised-button (click)="saveOrder(selectedCustomer,selectedProduct)">Siparişi Kaydet</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="finaliseOrderFormGroup" [editable]="false">
      <form [formGroup]="finaliseOrderFormGroup"  class="stepperFormContainer">
        <ng-template matStepLabel>Tamamla</ng-template>
        <div>
          <div>
            <span class="orderDetailsLabel">Sipariş Numarası: </span>{{order?.id}}
          </div>
          <div>
            <span class="orderDetailsLabel">Statik IP Adresi: </span>{{staticIPAddress}}
            <div>
              <button mat-raised-button (click)="getStaticIPAddress()">Yeni IP adresi Al</button>
            </div>
          </div>
<!--          <div>-->
<!--            <mat-checkbox [ngModel]="order?.isActivated" [ngModelOptions]="{standalone:true}">Aktive Et</mat-checkbox>-->
<!--          </div>-->
        </div>
        <div class="button-container">
<!--          <button mat-raised-button matStepperPrevious>Geri</button>-->
<!--          <button mat-raised-button (click)="stepper.reset()">Temizle</button>-->
          <button mat-raised-button (click)="finaliseOrder()">Tamamla</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>
