<div class="container">

  <p>Sipariş Sorgulama</p>
  <form [formGroup]="selectCustomerFormGroup"  class="stepperFormContainer">
    <mat-form-field required>
      <mat-select placeholder="Müşteri"  [(ngModel)]="selectedCustomer"  formControlName="customerSelectFormCtrl" required >
        <mat-option *ngFor="let customer of customers" [value]="customer" >
          {{customer.firstName}} {{customer.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-divider></mat-divider>
  <div class="detailsContainer" *ngIf="orders">
    <div *ngFor="let order of orders; let i=index" class="detailItem">
    <div>
      Statik IP:
      <span>
        {{order?.staticIpAddress}}
      </span>
    </div>
    <div>
      Aktive Edilmis mi:
      <span>
        {{order?.active ? 'Evet': 'Hayır'}}
      </span>
    </div>
    <div>
      Ürün Adı:
      <span>
<!--        {{ordersProductData?[i]}}-->
        {{getOrderProductData(i)?.productName}}
      </span>
    </div>
      <mat-divider></mat-divider>
  </div>
  </div>
</div>
