<mat-toolbar>
  <h1>POC02</h1>
  <button mat-button routerLink="/order">CRM</button>
  <button mat-button routerLink="/order-details">CRM Sorgu</button>
  <button mat-button routerLink="/microservices">Micro Services</button>
  <button mat-button routerLink="/microservices-filter">Micro Services Sorgu</button>
</mat-toolbar>


<router-outlet></router-outlet>
